/*#region ScrollBar*/

/* width & height */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #747d8c; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a4b0be; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #57606f; 
}

/*#endregion*/