*{
    scroll-behavior: smooth;
}
html{
    font-size: 10px;
}
body{
    padding: 0;
    margin: 0;
    background-color: #747d8c;
    font-family: 'Poppins', sans-serif;
}

/*#region global*/

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -999;
}
.cn{
    font-family: 'Noto Sans TC', sans-serif;
}
.en{
    font-family: 'Poppins', sans-serif;
}

/*#endregion*/

/*#region Home*/

.home{
    position: relative;
    max-width:100%;
    height: 1024px;
}
.home .bg{
    background-image: url(../images/webp/windows.webp);
    filter: brightness(.7) saturate(.8);
}
.home-content{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-content-name-cn{
    color: #f1f2f6;
    font-size: 5.2rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    letter-spacing: 1rem;
    margin: 0;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
}
.home-content-name-en{
    color: #f1f2f6;
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1rem;
    margin: 0;
    margin-top: 1rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
}
.home-content-subtitle{
    color: #f1f2f6;
    font-size: 2rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 5rem;
    margin: 0;
    margin-top: 8rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
}
.home-scroll{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    margin-bottom: 5rem;
    cursor: pointer;
    text-decoration: none;
}
.home-scroll-text{
    width: 100%;
    text-align: center;
    color: #f1f2f6;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 6px;
    margin: 0;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}
.home-scroll-img{
    display: block;
    width: 3.6rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
}
.home-scroll-img img{
    max-width: 100%;
    animation: scrollarrow 2s linear infinite;
}
@keyframes scrollarrow{
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    25%{
        transform: translateY(0px);
        opacity: 1;
    }
    50%{
        transform: translateY(0px);
        opacity: 1;
    }
    75%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateY(-10px);
        opacity: 0;
    }
}

/*#endregion*/

/*#region About*/

.about{
    position: relative;
    width: 100%;
    padding: 10rem 0;
    box-sizing: border-box;
}
.about .bg{
    background-image: url(../images/webp/office.webp);
    filter: brightness(.2) saturate(.7) blur(8px);
}
.about-content{
    position: relative;
}
.about-title-cn{
    color: #f1f2f6;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 3.6rem;
    letter-spacing: 4px;
    margin: 0;
    margin-bottom: 5rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
    text-align: center;
    font-weight: 500;
}
.about-title-en{
    color: #f1f2f6;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 300;
}
.about-content-content{
    color: #f1f2f6;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
    margin: 0 20% 10rem 20%;
    line-height: 4.5rem;
}
.about-more-button{
    text-align: center;
    margin: 0;
    margin-bottom: 15rem;
}
.about-more-button a{
    color: #f1f2f6;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #f1f2f6;
    padding: 1.2rem 4.5rem;
    border-radius: 5px;
    letter-spacing: 3px;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
}
.about-more-button a:hover{
    background-color: rgba(255, 255, 255, .3);
    transition: .15s linear;
}
.about-more-button a:active{
    transform: translateY(3px);
    transition: .1s linear;
}

/*#endregion*/

/*#region Services(Based on about container)*/

.services{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 55%;
    margin: 3rem auto;
    justify-content: space-between;
}
.services-img-container{
    width: 25vw;
    height: 25vw;
    max-width: 50%;
    background-color: #f1f2f6;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
}
.services-text-container{
    width: 25vw;
    height: auto;
    max-width: 50%;
}
.services-text-title-cn{
    color: #f1f2f6;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 3.6rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
    margin: 0;
}
.services-text-title-en{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 4px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
    margin: 0 0 0 -10px;
}
.services-title-hr{
    height: 5px;
    width: 9rem;
    background-color: #f1f2f6;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
    margin: 1rem 0 3rem 1rem;
    border-radius: 3px;
    opacity: .8;
}
.services-text-content{
    color: #f1f2f6;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 3.6rem;
    margin: 0;
    margin-bottom: 3rem;
}
.services-text-readmore{
    color: #f1f2f6;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 350;
    letter-spacing: 3px;
    text-decoration: none;
    border-bottom: 2px solid #f1f2f6;
    text-transform: capitalize;
}
.hr-after-services{
    width: 40%;
    margin: 10rem auto;
    border: 1.5px solid #f1f2f6;
    background-color: #f1f2f6;
    opacity: .6;
    border-radius: 3px;
}

/*#endregion*/

/*#region Services: Mask(Based on about container)*/

.services-mask{
    position: relative;
    width: 55%;
    margin: 5rem auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
}
.services-mask-container{
    position: relative;
    width: 100%;
    padding: 7rem;
    box-sizing: border-box;
    overflow: hidden;
}
.services-mask-container .bg{
    background-image: url(../images/webp/mask_with_desk.webp);
    background-attachment: local;
    background-position: center;
    background-position-y: 55%;
    filter: brightness(.7) contrast(.9) saturate(1.2);
}
.services-mask-content{
    color: #f1f2f6;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
}
.services-mask-content .cn{
    font-size: 3.6rem;
    letter-spacing: 3px;
    font-weight: 500;
}
.services-mask-content .en{
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: 300;
}
.services-mask-content h2{
    margin-top: 0;
}
.services-mask-content p.cn{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 3rem 0;
}
.services-mask-content a.en{
    color: #f1f2f6;
    font-size: 2.2rem;
    text-decoration: none;
    border-bottom: 2px solid #f1f2f6;
    text-transform: capitalize;
}

/*#endregion*/

/*#region Slogan(Based on about container)*/

.slogan{
    position: relative;
}
.slogan-cn{
    text-align: center;
    color: #f1f2f6;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: normal;
    font-size: 2.4rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
    opacity: .8;
}
.slogan-cn-quote{
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.slogan-en{
    text-align: center;
    color: #f1f2f6;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: 4px;
    line-height: 3.6rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
    margin: 0;
    margin-bottom: 6rem;
}
.slogan-policy-container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    flex-flow: row wrap;
}
.slogan-policy{
    text-align: center;
    color: #f1f2f6;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 4px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
    opacity: .8;
    margin: 3rem;
}
.slogan-policy-en{
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    letter-spacing: 4px;
}

/*#endregion*/

/*#region RWD-IPadPro-Portrait*/

@media only screen and (orientation: portrait) and (max-width: 1200px){
    html{
        font-size: 8px;
    }

    /*#region Home*/

    .home-scroll{
        margin-bottom: 8rem;
    }

    /*#endregion*/

    /*#region Services*/

    .services{
        width: 65%;
    }
    .services-img-container{
        width: 30vw;
        height: 30vw;
    }
    .services-text-container{
        width: 30vw;
    }
    .services-title-hr{
        height: 4px;
        width: 10rem;
    }

    /*#endregion*/

    /*#region Services: Mask*/

    .services-mask{
        width: 65%;
    }

    /*#endregion*/

    /*#region Slogan*/

    .slogan-policy-container{
        width: 70%;
    }

    /*#endregion*/
}

/*#endregion*/

/*#region RWD-IPad-Portrait*/

@media only screen and (orientation: portrait) and (max-width: 769px){
    html{
        font-size: 6px;
    }
}

/*#endregion*/

/*#region RWD-IPad-Landscape*/

@media only screen and (orientation: landscape) and (max-width: 1200px){
    html{
        font-size: 6px;
    }
}

/*#endregion*/

/*#region RWD-Mobile-Portrait*/

@media only screen and (orientation: portrait) and (max-width: 425px){
    html{
        font-size: 4px;
    }

    /*#region Home*/

    .home-content{
        min-width: 70%;
    }

    /*#endregion*/

    /*#region About*/

    .about-content-content{
        line-height: 5rem;
    }

    /*#endregion*/

    /*#region Services*/

    .services{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .services-img-container{
        width: 50vw;
        height: 50vw;
        max-width: 100%;
    }
    .services-text-container{
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .services-text-title-cn{
        letter-spacing: 4px;
        text-align: center;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .services-text-title-en::before{
        content: '|';
    }
    .services-text-title-en{
        margin: 0;
    }
    .services-title-hr{
        display: none;
    }
    .services-text-content{
        display: inline-block;
        line-height: 4rem;
        max-width: 60%;
        margin: 0 auto;
    }
    .services-text-readmore{
        display: inline-block;
        margin: 0 auto;
        margin-top: 5rem;
    }

    /*#endregion*/

    /*#region Services: Mask*/

    .services-mask{
        width: 100%;
        text-align: center;
        margin: 12rem 0;
    }
    .services-mask-container .bg{
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        filter: brightness(.6);
    }
    .services-mask-content h2 .en::before{
        content: " | ";
    }
    .services-mask-content a.en{
        margin-bottom: 1rem;
    }
    .hr-after-services{
        display: none;
    }

    /*#endregion*/

    /*#region Slogan*/

    .slogan-cn{
        max-width: 80%;
        margin: 0 auto;
    }
    .slogan-en{
        max-width: 80%;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 3rem;
        line-height: 3.6rem;
        letter-spacing: 3px;
    }

    /*#endregion*/

}

@media only screen and (orientation: portrait) and (max-width: 321px){
    /*#region About*/

    .about-title-cn{
        font-size: 2.6rem;
        letter-spacing: 3px;
    }
    .about-title-en{
        font-size: 2rem;
    }
    .about-content-content{
        font-size: 1.6rem;
        line-height: 3.6rem;
    }

    /*#endregion*/

    /*#region Services*/

    .services{
        width: 100%;
    }
    .services-text-title-cn{
        font-size: 2.6rem;
        letter-spacing: 3px;
    }
    .services-text-title-en{
        font-size: 2rem;
    }
    .services-text-content{
        letter-spacing: 2px;
        font-size: 1.6rem;
        line-height: 3.6rem;
    }

    /*#endregion*/

    /*#region Slogan*/

    .slogan-cn{
        font-size: 1.8rem;
        letter-spacing: 3px;
    }
    .slogan-cn-quote{
        font-size: 2rem;
    }
    .slogan-en{
        letter-spacing: 2px;
    }

    /*#endregion*/
}

/*#endregion*/

/*#region RWD-Mobile-Landscape*/

/*max-width and max-height because don't affect other RWD rules using max-width*/
@media only screen and (orientation: landscape) and (max-width: 900px) and (max-height: 600px){
    html{
        font-size: 6px;
    }

    /*#region Home*/

    .home-content-name-cn{
        font-size: 4rem;
    }
    .home-content-subtitle{
        line-height: 4rem;
        margin-top: 4rem;
    }
    .home-scroll{
        margin-bottom: 3rem;
    }

    /*#endregion*/

    /*#region Services*/

    .services{
        width: 70%;
    }
    .services-text-container{
        width: 50%;
    }
    .services-text-title-en{
        margin: 0;
    }
    .services-title-hr{
        width: 12rem;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 3rem;
        opacity: .7;
    }

    /*#endregion*/

    /*#region Services: Mask*/

    .services-mask{
        width: 70%;
    }

    /*#endregion*/

    /*#region Slogan*/

    .slogan-policy-container{
        max-width: 90%;
    }

    /*#endregion*/
}

/*#endregion*/

/*#region RWD-Smaller-Mobile-Landscape*/

@media only screen and (max-width: 640px) and (max-height: 400px){
    html{
        font-size: 6px;
    }

    /*#region Home*/

    .home-content-name-cn{
        font-size: 3.6rem;
    }
    .home-content-name-en{
        font-size: 2rem;
    }

    /*endregion*/

    /*#region Services*/

    .services-img-container{
        width: 30vw;
        height: 30vw;
    }

    /*#endregion*/

    /*#region Slogan*/

    .slogan-cn{
        font-size: 2.2rem;
    }
    .slogan-cn-quote{
        font-size: 2.4rem;
    }

    /*#endregion*/
}

/*#endregion*/

/*#endregion*/
